@use "reset.scss";
@use "typography.scss";
@use "variables.scss";

body {
  background-color: var(--dark-gray);
  color: white;
}

html {
  font-size: 5vmin;

  @media screen and (min-width: 800px) {
    font-size: 2vmin;
  }
}
