:root {
  --black: black;
  --white: white;
  --gray: rgb(50, 50, 50);
  --dark-gray: rgb(30, 30, 30);
  --light-gray: rgb(200, 200, 200);
  --positive: rgb(62 183 121);
  --negative: rgb(153 44 44);
}
