:root {
  --black: #121218;
  --white: white;
  --gray: rgb(60 64 75);
  --dark-gray: rgb(30 29 37);
  --dark-gray-alt: rgb(29 24 33);
  --light-gray: rgb(107 108 123);
  --positive: rgb(62 183 121);
  --negative: rgb(153 44 44);
}
