.select {
  --size: 2rem;
  --font-size: 0.5;
  --background: var(--black);
  --color: var(--white);
  --arrow-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.15s ease;

  &:hover,
  &:focus-within {
    transform: scale(1.05);
  }

  select {
    min-width: var(--size);
    height: var(--size);
    border-radius: 1000px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--color);
    font-size: calc(var(--size) * var(--font-size));
    padding-inline: 1em;
    font-size: 1rem;
    overflow: hidden;
    // remove select arrow
    -webkit-appearance: none;
    padding-right: var(--arrow-size);
    cursor: pointer;
  }

  .icon {
    position: absolute;
    right: 0;
    width: var(--arrow-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    color: var(--light-gray);
    pointer-events: none;
  }
}
