.count {
  --size: 3rem;
  --color: var(--white);
  --background: var(--black);
  min-width: var(--size);
  height: var(--size);
  padding-inline: 0.2rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
  border-radius: 100px;
  background-color: var(--background);
  color: var(--color);
  font-weight: bold;
}

.primary {
  --background: var(--black);
  --color: var(--white);
}

.secondary {
  --background: var(--gray);
  --color: var(--white);
}

.negative {
  --background: var(--negative);
  --color: var(--white);
}

.positive {
  --background: var(--positive);
  --color: var(--white);
}

.animate {
  animation: pulse ease 0.5s forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
