.screen {
  --spacing: 2vmin;
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "preview"
    "navigation";
  padding: var(--spacing);
  gap: var(--spacing);
  font-size: 2vmin;
}

.header {
  grid-area: header;
}

.preview {
  grid-area: preview;
  display: grid;
  place-content: center;
}

.navigation {
  grid-area: navigation;
}
