.stack {
  display: flex;
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
  > .stack {
    width: 100%;
  }
}

.gap {
  gap: 1rem;
}

.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 0.75rem;
}

.gap-large {
  gap: 1rem;
}
